In [ ]:
LIMPEZA E TRATAMENTO DE DADOS A PARTIR DE UM ARQUIVO CSV UTILIZANDO PYTHON

In [2]:
#Importar as bibliotecas que serão utilizadas
import pandas as pd
import statistics as sts
import seaborn as srn

In [3]:
#Carregar o arquivo que será utilizado nessa análise
dataset = pd.read_csv("tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
#Determinar o tamanho da tabela
dataset.shape

(14, 5)

In [33]:
#Tratar a coluna "Aparencia"
#Contar e ver qual item eu tenho mais na coluna "Aparencia"

agrupar = dataset.groupby(['Aparencia']).size()
agrupar

# Através do resultado acima, descobrimos que há um item diferente de "sol", "nublado" e "chuva".

Aparencia
chuva      5
nublado    4
sol        5
dtype: int64

In [41]:
 # Incluir esse item "menos" na aparencia "nublado"
 
agrupar_de_novo = dataset.groupby(['Aparencia']).size()
dataset.loc[dataset['Aparencia'] ==  'menos', 'Aparencia'] = "nublado"
agrupar_de_novo = dataset.groupby(['Aparencia']).size()
agrupar_de_novo

Aparencia
chuva      5
nublado    4
sol        5
dtype: int64

In [48]:
#Agora tratar os dados da coluna "Temperatura":
#Verificar se há algum dado fora do limite de temperatura (<135ºF ou >130ºF):
dataset['Temperatura'].describe
dataset.loc[(dataset['Temperatura']< -130) | (dataset['Temperatura']> 130)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [46]:
#Temos uma temperatura de 1220º, ou seja, um outlier
mediana = sts.median(dataset["Temperatura"])
mediana

72.75

In [47]:
#Substituir o valor absurdo pela mediana
dataset.loc[(dataset['Temperatura']< -130) | (dataset['Temperatura']> 130), "Temperatura"] = mediana

In [ ]:
#Verificar se ainda existem valores fora do domínio:
dataset.loc[(dataset['Temperatura']< -130) | (dataset['Temperatura']> 130), "Temperatura"]
#Não há, logo, os dados foram tratados

In [51]:
# Tratar a coluna "Umidade":
#Verificar se há algum número fora do intervalo 0-100:
dataset['Umidade'].describe
dataset.loc[(dataset['Umidade']< 0) | (dataset['Umidade']> 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [ ]:
#Há uma umidade de 200 que precisa ser corrigida
mediana = sts.median(dataset["Umidade"])
mediana

In [ ]:
#Substituir o valor absurdo pela mediana
dataset.loc[(dataset['Umidade']< 0) | (dataset['Umidade']> 100), "Umidade"] = mediana

In [ ]:
#Verificar se ainda existem valores fora do domínio:
dataset.loc[(dataset['Umidade']< 0) | (dataset['Umidade']> 100), "Umidade"]

#Não há, logo, os dados foram tratados

In [35]:
# Tratar a coluna "Jogar":
#Verificar se há algum carácter fora da lógica sim/não:
agrupar = dataset.groupby(['Jogar']).size()
agrupar

#Não há nada fora de sim/não nessa coluna

Jogar
nao    5
sim    9
dtype: int64

In [53]:
#Por fim, analisar se há dados NAN
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [57]:
#Remover os dados NAN da tabela.
dataset.dropna()

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6    nublado         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao